body {
    margin: 0px;
    padding:0 15px 0 15px;
    background-color: #f6f6f6;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color:#000000;
}

#title {
    text-align: center;
    font: 22px "微软雅黑", "黑体", "宋体";
    padding-top: 15px;
}

#subtitle {
    text-align: center;
    color: #a5a5a5;
    font: 12px "宋体";
    margin: 10px 0;
}

.source a {
    color: #a5a5a5;
    margin: 0 5px;
}

.source a.red {
    color: #aa0800;
    margin: 0 10px;
}
.rel_title{
    background:#E9E9E9;
}
#rel{
    font-size: 18px;
    line-height: 35px;
}

.contentstyle {
    color: #212121;
    text-align: left; /*justify*/
    margin-top: 10px;
    word-wrap: break-word;
}

.normal_font{
    font-size:18px;
    line-height:24px;
}
.small_font{
    font-size:16px;
    line-height:22px;
}
.big_font{
    font-size:20px;
    line-height:26px;
}